<h1>Munkaidők</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>EmployeID</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employe in employees" ng-click="details(employees)"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <td>{{$index+1}}.</td>
            <td>{{employees.empID}}</td>
            <td>{{employees.date}}</td>
            <td>{{employees.start}}</td>
            <td>{{employees.end}}</td>
        </tr>
    </tbody>
</table>


<hr>
<form>
    <select class="form-select" aria-label="Default select example">
      <option selected>{{employees.empID}} Alkalmazott</option>
    </select>
    <div class="form-floating mb-3">
        <input type="name" class="form-control" id="floatingName" placeholder="name">
        <label for="floatingName">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="floatingDate" placeholder="Date">
        <label for="floatingName">Dátum</label>
      </div>
  
      <div class="form-floating mb-3">
        <input type="time" class="form-control" id="floatingStart" placeholder="Start">
        <label for="floatingName">Kezdet</label>
      </div>

      <div class="form-floating mb-3">
        <input type="time" class="form-control" id="floatingEnd" placeholder="End">
        <label for="floatingName">Vége</label>
      </div>
    
      <button type="button" class="btn btn-primary">Felvétel</button>
      <button type="button" class="btn btn-primary">Módosít</button>
      <button type="button" class="btn btn-primary">Törlés</button>
  </form>
  